/*Fix default sizing for html and body */
html, body {
    height: 400px;
    margin: 0;
}
.hidden {
    display: none !important;
}
/*Gives background to whole page and prevents overlap between header and other child elements */
body {
    background-color: white;
    /* display: flex; */
    padding-top: 70px; /* Adjust as necessary */
    font-family: sans-serif;
    color: black;
}
#dark-mode {
    margin-right: 10px;
}
.dark {
    background-color: #202124;
    color: white;
}
/*Header styles*/
#header{
    position:fixed;
    top: 0;
    width:100%;
    display: flex;
    background: lightgray;
    /* justify-content: center; Aligns x axis */
    text-align: center;
    align-items: center; /*Aligns y axis*/
    border: 4px solid #0b7fdb;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: #434444;
    border-bottom-width: 2px;
    height: 70px;
}
/*Styling for the title on the header*/
#title{
    flex: 1;
}
/*Styling for the search bar*/
#searchbar{
    height: 30px;
    margin-right: 20px;
    border: 1px solid #434444;
    border-radius: 5px;
}
/*Styling for the parent container of content and sidebar*/
#main{
    display: flex;
    height: calc(100vh - 71.6px);
}

/*Styling for the parent container of leftnav*/
#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    
}
/*Styling for the left navigation page or the one with questions and tags link*/
#leftnav{
    border-style: solid;
    padding-top: 20px;
    border: 2px dashed #434444;
    color: #000000;
    border-top: 0;
    border-left: 0;
    height: 100%;
    /* padding-top: 30px; */
}
/*Styling for the content page of the questions page or the huge chunk on the right*/
#questions-section{
    margin-left:200px;
    flex: 1; /*Size of all other elements will have as much width as their content needs, but this will have the remaining space */
}
/*Link styles*/
.pageButtons{
    /*User agent stylesheets overridden the inherit*/
    color: inherit;
    font-family: inherit;
    font-size: large;
    background-color: transparent;
    list-style-type: none;
}
/*Styling for the pageButtons class not the same as anchor tags element selector*/
button:hover{
    /* background-color: rgba(128, 128, 128, 0.242); */
    cursor: pointer;
}
/*Styling for a unvisited and visited link -> probably should split them or just exclude visited*/
a:link, button:visited{
    text-decoration: none;
}
/* The background colors may be useless due to the JS */
/*Styling when anchor tag is hovered over*/
button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.242);
}
/*Styling for an active anchor tag*/
button:active{
    background-color: rgba(128, 128, 128, 0.242);
}

/*List styles, also (ol li) selects list items nested in ol*/
ol li {
    list-style-type: none;
}

/*Styling for the list that questions and tag is placed under*/
#question-tag-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    padding: 0;
    margin: 0;
}

#questions-section {
    overflow-y: auto;
}

#answerForm-textBox-check {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*Styling for the link items or questions and tags link so far*/
.pageButton-items {
    border-radius: 5px;
    height: 30%;
    width: 100%;
}
/*Styling for the questions and tags link on left side*/
#show-questions, #show-tags{
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    width: 100%;
    height: 100%;
}
/*Styling for header of the questions page*/
#questions-header{
    display: flex;
    padding: 20px;
}
/*Styling for the inline h1 header for "All Questions"*/
#all-questions-text{
    width:100%;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}
#display-question {
    display: flex;
    flex: 1;
    border-bottom: 2px dashed #434444;
}
.answerTextDiv {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed #434444;
    padding: 20px;
    font-weight: 100;
}
.answerTextDiv > div {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
}
.ansViews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
}
.ansViews > p {
    font-size: large;
    font-weight: bold;
    color: inherit;
    white-space: nowrap;
}


/*Styling for the ask question button*/
.ask-questions-button, #post-button, #ansQuestionButton, #postAnswer, #post-button, #ansQuestionButton{
    color: white;
    background-color: #0b7fdb;
    border-radius: 5px;
    text-align: end;
    margin-left: 10px;
    white-space: nowrap;
    box-shadow: none;
    border: none;
    padding: 8px;
}
#post-button {
    margin-left: 0;
    margin-top: 10px;
}

#answerForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#ansForm-user {
    margin-top: 0px;
}
#answer-add-details-textbox {
    height: 300px;
    margin-bottom: 20px;
}

.ansUser {
    color: green;
}

.ansTime {
    color: darkslategrey;
}

#postAnswer {
    width: fit-content;
    margin-left: 0px;
    margin-top: 10px;
}
#ansQuestionButton {
    margin: 20px;
}
/*Makes ask-question-button dark blue when clicked*/
.ask-questions-button:active, #post-button:active, #ansQuestionButton:active{
    background-color: hsl(210,80%,23%);
}
/*Styling for the number of questions header*/
#num-questions{
    margin: 0;
}
/*Styling for container of the number of questions and category links*/
#question-properties{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    padding-top: 0px;
    border-bottom: 2px dashed #434444;
}
/*Styling for all the categories newest, active, and unanswered*/
#categories{
    flex: 1;
    display: flex;
    justify-content: end;
}
/* Category links styling*/
.category-link{
    border: solid #403d39 1px;
    background: white;
    border-radius: 5px;
    padding: 5px;
}
/*Styling for the newest category*/
#newest-cat{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*Styling for the active and unanswered category*/
#active-cat, #unanswered-cat{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
}
/*Styling for the active category alone*/
#active-cat{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*below is all the styling for the form*/
#form-container{
    margin-left: 200px;
    padding: 50px;
    padding-top: 10px;
    position: static;
    display: flex;
    flex-direction: column;
    flex: 1
}
.form-caption{
    font-size: small;
    font-style: italic;
    margin: 2px;
}
.ask-questions-button:hover, #post-button:hover, #ansQuestionButton:hover{
    background-color: #0b7fdb;
}
.form-inputs{
    width: 350px;
    resize: none;
}
#title-textbox {
    height: 30px;
}
#title-and-description {
    flex: 1;
}

#add-details-textbox{
    height: 200px;
}
.form-header{
    margin: 5px;
}
#username-text-box{
    display: block;
}
.question-div{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px dashed #434444;
}

#noQHeader {
    margin: 20px;
}
.question-div *{
    margin: 0px;
}
.titleTags-div {
    flex: 1;
    padding-left: 30px;
}
.postTitle {
    color: #0b7fdb;
}
.postTitle:hover{
    cursor: pointer;
}
.tagContainer {
    display: flex;
}
/*Use descendant selector to get a higher specificity*/
.question-div .postTags {
    background-color: gray;
    color: white;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-right: 10px;
    white-space: nowrap;
    border: 2px solid black;
}
.q-descriptions, .askedInfo {
    color: darkslategrey;
}
.ask-questions-container {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.askedUser {
    color: red;
}
#tags-section{
    margin-left: 200px;
    flex: 1;
    padding: 20px;
}
#ans-ask-button {
    margin: 20px;
    margin-right: 10px;
    align-self: flex-end;
    width: fit-content;
}
#top-tags-section{
    display: flex;
    font-size: x-large;
    justify-content: space-between;
}
#top-tags-section > * {
    margin: 0px;
}
#tags {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.tag-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed 2px;
    margin: 20px;
    width: 150px;
    padding: 5px;
}


.tag-div > h3 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: normal;
    color: #0000EE;
    text-decoration: underline;
}
.tag-div > .amountOfTags {
    color: inherit;
    text-decoration: none;
}

.tag-names {
    width:fit-content;

}
.tag-names:hover {
    cursor: pointer;
    background-color: gray;
}
#answers-page{
    margin-left: 200px;
    flex: 1;
}
#answerForm-container{
    margin-left:200px;
    flex: 1;
}
#answer-add-details-textbox {
    margin: 0px;
}
#answerForm-name-check{
    margin-top: 10px;
}